:root {
    background-color: #5D8AA8;
}

h1 {
    text-align: center;
    color: #5D8AA8;
    background-color: black;
    padding: 2rem;
    margin: 1rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
    border-bottom: 2px solid #000000;
    margin: 0px;
}

.img {
    cursor: grab;
    height: 200px;
    width: 200px;
}

.undertext {
    text-align: center;
}

.result {
    background-color:#000;
    font-size: 23px;
    color: #5D8AA8;
    text-align: center;
    border: 10px outset #1C6EA4;
    -webkit-border-radius: 10px;
    border-radius: 100px;
    width: 400px;
    position: absolute;
    left:50%;
    margin-left:-200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}